/* adjust height size to maximum */
html,body{
    height:100%;
}

.background_img{
    background-image: url('/static/images/home_background.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome{
    font-family: Raleway;
    font-size: 70px;
    font-weight: 1000;
}

#dropdown-menu {
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: Raleway;
}

/* change the background of content */
.bgstyle {
    background-color:#F1935C;  
}

/* to change the size of text in navbar */
.navbarText {
    font-size: 30px;
    font-weight: 600;
    font-family: Raleway;
}

/* edit navbar text spacing */
.navbar-nav > li{
    margin-left:15px;
    margin-right:15px;
    margin-bottom: 5px;
    margin-top: 5px;
}

/* styling text */
.titleText {
    font-size: 64px;
    margin-top: 2.5%;
    font-weight: 700;
    font-family: Raleway;
}

/* styling line */
.line-horizontal {
    position: absolute;
    left: 2.5%;
    height: 0.5px;
    right: 2.5%;
    border: 1px solid #F1935C;
}

/* Styling text for add_car */
add_car,input{
    color: black; 
    width: 100%;
}

add_car,label{
    text-align: left;
    font-family: raleway;
}
add_car,label{
    text-align: left;
    font-family: raleway;
}

add_car,.submit_button{
    width: 100px;
    font-family: raleway;
    font-weight: bold;
    text-align: center;
    background: #C4C4C4;
}

/* styling for rent */
rent, select[name='category']{
    width: 100%;
}

/* swiper container size */
.swiper-container {
    width: 40vw;
    height: 40vh;
}
/* carousel settings */
#resultCarousel {
    width: 90vh;
    height: 50vh;
    background-color: rgb(243, 243, 243);
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");

}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");

}
.carousel-indicators li {
    background-color: #000000;
}
.carousel-indicators .active {
    background-color: #000000;
}

.review_box{
    overflow-y: auto;
    width:65%; 
    height:auto; 
    max-height:70%; 
    margin:auto;
    align-content: center;
    align-items: center;
    text-align: center;
    display: inline-block;
    background-color: #F1935C;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 5%;
    box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    background-color:hsla(22, 96%, 55%, 0.57);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    background-color: #F1935C; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}