{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Add Car</title>
{% endblock %}

{% block content %}
    <div class="row flex-grow-1">
        <div class="col-lg-12 bgstyle" style="padding: 0;">
            <center>
                <h1 class="titleText">Have a Car?</h1>
                <h2 class="titleText">Want to make some money?</h2>
            </center>
    
            <div class="container" style="width: 50%;"> 
                    <form method="POST" action=" " >
                        {% csrf_token %} 
                    
                        <label for="carname">Car Name </label> <br>
                        {{ form.carName }}<br>
              
                        <label  for="Owner">Owner </label> <br>
                        {{ form.owner }}<br>
              
                        <label  for="category">Category </label> <br>
                        {{ form.category }}
              
                        <label  for="year">Year </label> <br>
                        {{ form.year }}<br>
              
                        <label  for="price">Price(per day)</label> <br>
                        {{ form.price }}<br>
              
                        <label  for="city">City </label> <br>
                        {{ form.city }}<br>
              
                        <label  for="description">Description</label> <br>
                        {{ form.description }}
              
                        <br><br>

                        <div class="text-right pr-4">
                            <input class="submit_button" type="Submit" value="Submit">
                        </div>
                        
                        <br>
                    </form>
            </div>
        </div>
    </div>
{% endblock %}