{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Article</title>
{% endblock %}

{% block content %}
    <div class="row flex-grow-1">
        <div class="col-lg-12 bgstyle" style="padding: 0;">
            <center><h1 class="titleText">Articles</h1>
            {% for article in articleList %}
            <div class="card bg-white text-black" style="width: 80vw; margin-left:2.5%; margin-right:2.5%; margin-top:3%; margin-bottom:6%; min-height: 60vh">
                <div class="card-body">
                    <div  style="float:right ;">
                        <select id="ratings-{{ forloop.counter0 }}">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        <button onclick="rating('{{ forloop.counter0 }}','{{ article.title }}','final_rating-{{ forloop.counter0 }}')">Rate !</button>
                    </div>
                    <h3 id="final_rating-{{ forloop.counter0 }}" style="float:right; ">Rating: {{ article.oldrating }}</h3>
                    <h5 id="title-{{ forloop.counter0 }}" class="card-title" style="text-align: left;">{{ article.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted" style="text-align: left;">{{ article.date }}</h6>
                    <div class="line-horizontal"></div>
                    <br>
                    <p class="card-text" style="text-align:justify; text-indent: 60px">{{article.content}}</p>
                </div>
            </div>
            {% endfor %} 
            </center>
            {% if user.is_authenticated %}
            <div class="container" style="width: 50%;"> 
                <form method="post" action="">
                    {% csrf_token %}
                    <label for="title">Title: </label> <br>
                    {{ form.title }}
                    <label for="date">Date: </label> <br>
                    {{ form.date }}
                    <br>
                    <label for="content">Content: </label> <br>
                    {{ form.content }}
                    <br> <br>
                    <div class="form-row">
                        <div class="text-right pr-4" style="margin-left:9%; width: 100%;">
                            <button type="submit" class="about">Submit</button>            
                        </div>
                    </div>
                </form>
                <br>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block initialize %}
<script type="text/javascript">
    var count=0;
    var total=0;
    function rating(i,judul,ojek){
        var e = document.getElementById("ratings-"+i);
        var rating_value = e.options[e.selectedIndex].textContent;
        $.get("/update-rating?title=" + judul+"&rating_value="+rating_value, function(data, status){
            document.getElementById(ojek).innerHTML = "Rating: " + data;
        });
    }





</script>
{% endblock %}
