{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Prevent favicon.ico calls-->
    <link rel="shortcut icon" href="#">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <style>

    .flex-container2 {
    display: flex;
    align-items: center;
    text-align: center;
    height: 1000px;
    width: 600px;
    background-color:hsla(360, 100%, 100%, 0.65);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    }
    .profile-box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Raleway;
    font-size: 35px;
    height: 250px;
    width: 700px;
    background-color:hsla(22, 96%, 55%, 0.57);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    }
    .hist-box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Raleway;
    font-size: 35px;
    height: 250px;
    width: 700px;
    background-color:hsla(22, 96%, 55%, 0.57);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    }
    .info-box{
    font-family: Raleway;
    font-size: 35px;
    height: 800px;
    width: 900px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    }
    signup, form{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    signup, label{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    signup, input{
    font-size: 20px; 
    font-family: Raleway;
    text-align: center;
    width: 80%;
    }
    signup, ul li {
        margin-left: auto;
        margin-right: auto;
    }
    </style>

    {% block title %}
    {% endblock %}
</head>
<body>
    <div class="container-fluid d-flex h-100 flex-column navbar-expand-lg">
        <!--NAVBAR-->
        <div class="row">
            <div class="col-lg-12" style="padding:0;">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="{% url 'homepage' %}"><img src="{% static 'images/andrews.png' %}" style="width: 300px;height: 70px;"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse navbarText" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active ">
                                <a class="nav-link" href="{% url 'homepage' %}">Home<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cars</a>
                                    <div class="dropdown-menu" id="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <a class="dropdown-item navbarText" href="{% url 'rent' %}">Search available car</a>
                                      <a class="dropdown-item navbarText" href="{% url 'add_car' %}">Register your car</a>
                                    </div>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'transactions' %}">Transactions</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'reviews' %}">Reviews</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'article' %}">Articles</a>
                                </li>
                                {% if user.is_authenticated %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class='fas fa-user-circle' name="dropAcc"></i> {{ request.user.username }}</a>
                                        <div class="dropdown-menu" id="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item navbarText" href="{% url 'profile_page' %}" id="profile_page" name="profile">Profile</a>
                                          <a class="dropdown-item navbarText" href="{% url 'log_out' %}" id="logOut" name="logOut">Sign Out</a>
                                        </div>
                                </li>
                                {% else %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class='fas fa-user-circle' name="dropAcc"></i> Account</a>
                                        <div class="dropdown-menu" id="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item navbarText" href="{% url 'log_in' %}" id="logIn" name="logIn">Log In</a>
                                          <a class="dropdown-item navbarText" href="{% url 'signup' %}" id="signUp" name="signUp">Sign Up</a>
                                        </div>
                                </li>
                                {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--CONTENT-->
        {% block content %}
        {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <!--Specific Page JavaScript-->
    {% block initialize %}
    {% endblock %}
  </body>
</html>