{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Homepage - Andrew's Car Rental</title>
{% endblock %}

{% block content %}
    <div class="row flex-grow-1">
        <div class="col-lg-12" style="background-image: url('/static/images/home_background.jpg'); background-size:cover; background-repeat:no-repeat">
            <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6">
                    <div class="row">
                        {% if user.is_authenticated %}
                        <p class="welcome" style="margin-top: 25%;">Welcome {{ request.user.username }} to <br> Andrew's Car Rental</p>
                        {% else %}
                        <p class="welcome" style="margin-top: 25%;">Welcome to <br> Andrew's Car Rental</p>
                        {% endif %}
                        <p class="welcome" style="color: white;">Rent a car at best rates.</p>
                        <div class="col-lg"></div>
                        <div class="col-lg">
                            <a href="{% url 'rent' %}"><img class="button button2" style="left: 896px; width: 300px; height: 100px;" src="{% static 'images/booknow.png' %}"></a>
                        </div>
                        <div class="col-lg"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                
            </div> 
        </div>
    </div>
{% endblock %}
