{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Log In</title>
{% endblock %}

{% block content %}
<div class="row flex-grow-1" style="background-image: url('/static/images/logg.jpg'); background-size:cover; background-repeat:no-repeat">
    <div class="col-lg-12" style="padding: 0;" >
        <div class="row">
            <div class="col-sm-5" style="margin-top: 100px;">
                <h1 class="welcome" id="welcome" style="font-size: 60px; text-align: center; color: aliceblue;">Please login your account</h1>
                <br>
                <div class="login-form" style="text-align: center; ">
                    <div class="flex-container">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <h1 class="invalid" style="font-family: Raleway; font-size: 30px; color: red;">{{message}}</h1>
                                    <br>
                                    <input type="text" class="form-control" id="username" name="username" maxlength="40" placeholder="Username" style="width: 100%; font-size: 25px; font-family: Raleway;">
                                    <br>
                                    <input type="password" class="form-control" id="password" name="password" maxlength="40" placeholder="Password" style="width: 100%; font-size: 25px; font-family: Raleway;">
                                    <br><br>
                                    <button type="submit" class="button button2" id="logInBut" name="logIn">Log In</button>
                                    <br><br>
                                    <div>-- OR --</div>
                                    <br>
                                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="button button2" id="google-login">Login with Google</a>
                                    <br>
                                    <a href="{% url 'signup' %}" class="button button2" id="signUp" style="margin: auto;">Sign Up</a>
                                </div> 
                              </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
            </div>
        </div>
        
    </div>
    
</div>



{% endblock %}