{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Profile</title>
{% endblock %}


{% block content %}
<div class="col-lg-12" style="padding: 0;" >
    <div class="row">
        <div class="col-sm-6" style="text-align: center;">
            <br><br>
            <h1 class="welcome" id="welcome" style="font-size: 60px; text-align: center; color: black;">Your Profile</h1>
            <br>
            
            {% if user.is_authenticated %}
            <div class="dashed" style="position: relative; align-items: center; margin-left: auto; margin-right: auto; border-style: dashed; height: 350px; max-width: 350px;">
                <img src="{{user.profile.profileImage}}" class="img-fluid">
            </div>
                <br><br>
              <div class="profile-box">
                <p>
                Username: {{ request.user.username }}
                <br>
                Name: {{ request.user.first_name }} {{ request.user.last_name }}
                <br>
                Email: {{ request.user.email }}
                </p>
              </div>
              <br>
            {% endif %}
        </div>
        <div class="col-sm-6" style="text-align: center;">
            <br><br>
            <div class="info-box" style="overflow: scroll;">
                <p>
                    <h1 class="welcome" id="welcome" style="font-size: 60px; text-align: center; color: black;">Transaction History</h1>
                    <br>
                    <div class="hist-box" style="overflow: scroll;">
                        {% for transaction in transactions %}
                        <div class="card bg-light mb-3" style="max-width: 25rem; margin:5%">
                            <div class="card-header">Car : {{ transaction.car }}</div>
                            <div class="card-body">
                              <h5 class="card-text, text-justify">Start Date : {{ transaction.startDate }}</h5>
                              <h5 class="card-text, text-justify">End Date : {{ transaction.endDate }}</h5>
                            </div>
                            
                          </div>
                    {% endfor %}
                    </div>
                    <br><br>
                    <h1 class="welcome" id="welcome" style="font-size: 60px; text-align: center; color: black;">Favorite Car</h1>
                    <br>
                    <div class="hist-box" style="overflow: scroll; height:40vh" >
                        {% for c in car %}
                        <div class="card bg-light mb-3" style="max-width: 18rem; margin:5%">
                            <div class="card-header">Car : {{ c.car.carName }}</div>
                            <div class="card-body">
                              <h5 class="card-text, text-justify">Owner : {{ c.car.owner }}</h5>
                              <h5 class="card-text, text-justify">Price : {{ c.car.price }}</h5>
                            </div>
                            <form method="POST" action="{% url 'unfavourite-car' %}">
                                {% csrf_token %}
                            <input name="fav" type="hidden" value="{{ c.id }}">
                            <button type="submit" class="btn btn-primary">Unfavourite</button>
                            </form>
                          </div>
                            
                            
                    {% endfor %}
                    
                    </div>
                    <br><br>
                    <h1 class="welcome" id="welcome" style="font-size: 60px; text-align: center; color: black;">My Review</h1>
                    <br>
                    <div class="hist-box" style="overflow: scroll;">
                        
                        {% for review in reviewList %}
                        <div class="card bg-light mb-3" style="max-width: 25rem; margin:5%">
                            <div class="card-header">Title : {{ review.title }}</div>
                            <div class="card-body">
                              <h5 class="card-text, text-justify">Date Created : {{ review.dateCreated }}</h5>
                            </div>
                          </div>
                            
                        {% endfor %}
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}