{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Rent</title>
{% endblock %}

{% block content %}
<div class="row flex-grow-1">
    <div class="col-lg-12 bgstyle" style="padding: 0;">
        <center>
            <h1 class="titleText">Want to rent a car?</h1>
        </center>
        <div class="card bg-white text-dark" style="width: 80%; margin-bottom:5%; margin-left:10%; margin-right:5%; margin-top:2.5% ">
            <div class="card-body">
                {% for c in cars %}
                <h6 class="card-title">Car name: {{ c.carName }}</h6>
                <h6 class="card-title">Owner: {{ c.owner }}</h6>
                <h6 class="card-title">City: {{ c.city }}</h6>
                <h6 class="card-title">Year: {{ c.year }}</h6>
                <h6 class="card-title">Price: {{ c.price }}</h6>
                {% endfor %}
            </div>
        </div>
        <div class="container" style="width: 50%;"> 
            <form method="POST" action="">
                {% csrf_token %} 
                {% for c in cars %}
                <input type="hidden" name="car" id="id_car" value="{{ c.carName }}">
                {% endfor %}
                <label for="username">Name </label> <br>
                {{ form.username }}
                <label  for="startDate">Start Date </label> <br>
                {{ form.startDate }}
                <br>
                <label  for="endDate">End Date </label> <br>
                {{ form.endDate }}
                <br><br>
                <div class="text-right pr-4">
                    <input class="submit_button" type="Submit" name="transaction" value="Rent" style="display: inline-block;">
                </div>
                <br>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block initialize %}
    <script type="text/javascript">
    </script>
{% endblock %}