{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Rent</title>
{% endblock %}

{% block content %}
    <div class="row flex-grow-1">
        <div class="col-lg-12 bgstyle" style="padding: 0;">
        
            <center>
                <h1 class="titleText">Want to rent a car?</h1>
            </center>
            <div class="container" style="width: 50%;"> 
                <form method="POST">
                    {% csrf_token %} 
                    <label  for="category"><h3>Search By Category</h3></label> <br>
                    {{ form.category }}
                    <br><br>
                    <div class="text-right">
                        <button type="submit" class="about" id="categorySearch">Search</button>
                    </div>
                </form>
                <div class="text-center">
                    <h3>---OR---</h3>
                </div>
                <form method="POST">
                    {% csrf_token %} 
                    <label  for="category"><h3>Search By Name/Price</h3></label> <br>
                    <input type="text" class="form-control" id="manualSearchBox" placeholder="E.g. 'Alphard' or '50000' or 'All'"/>
                    <br>
                    <div class="text-right">
                        <button type="submit" class="about" id="manualSearch">Search</button>
                    </div>
                </form>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <div id="resultCarousel" class="carousel slide mb-5" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#resultCarousel" data-slide-to="0" class="active"></li>
                    </ol>
                    <div class="carousel-inner" style="height: 100%;">
                      <div class="carousel-item active" style="height: 100%;">
                        <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
                            <h3>Your search results will be displayed here</h3>
                        </div>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#resultCarousel" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#resultCarousel" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            
        </div>
    </div>
{% endblock %}

{% block initialize %}
    <script type = "text/javascript">
        $(document).on('click','.button-item',function(e){
            e.preventDefault();
            var $this = $(this);
            var $id = $this.attr('id').split('-')[1];

            
            $.ajax({
                type:'POST',
                url:'/favourite-car',
                data: {
                    id : $id,

                    csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val(),
                },
                success:function(){
                    alert("Favourited!");

                }

            });
        });

        $(document).on('click', '#manualSearch', function(e){
            e.preventDefault();
            var keyword = $('#manualSearchBox').val();
            $.ajax({
                url: "{% url 'search' %}",
                data: {keyword:keyword, check:'manual'},
                dataType: "json",
                type: "GET",
                success: function(response){
                    found(response);
                },
                error: function(){
                    notFound();
                }
            });
        });

        $(document).on('click', '#categorySearch', function(e){
            e.preventDefault();
            var keyword = $("#id_category option:selected").val();
            $.ajax({
                url: "{% url 'search' %}",
                data: {keyword:keyword, check:'category'},
                dataType: "json",
                type: "GET",
                success: function(response){
                    found(response);
                },
                error: function(){
                    notFound();
                }
            });
        });

        function found(response){
            if(response.cars == 0){
                notFound();
            }else{
                var carouselIndicatorResult = '<li data-target="#resultCarousel" data-slide-to="0" class="active"></li>'
                                            + '<li data-target="#resultCarousel" data-slide-to="1" class="active"></li>';
                var carouselInnerResult = '<div class="carousel-item active" style="height: 100%;">'
                                            + '<div class="d-flex align-items-center justify-content-center" style="height: 100%;">'
                                                + '<h3>Here are your search results</h3>'
                                            + '</div>'
                                        + '</div>'
                                        + '<div class="carousel-item" style="height: 100%;">'
                                            + "<div class='p-5 mx-4'>"
                                                + "<h6 id='carName-" + response.cars[0].id + "'>Car name: " + response.cars[0].carName + "</h6>"
                                                + "<h6 id='owner-" + response.cars[0].id + "'>Owner: " + response.cars[0].owner + "</h6>"
                                                + "<h6 id='city-" + response.cars[0].id + "'>City: " + response.cars[0].city + "</h6>"
                                                + "<h6 id='year-" + response.cars[0].id + "''>Year: " + response.cars[0].year + "</h6>"
                                                + "<h6 id='price-" + response.cars[0].id + "'>Price (per day): " + response.cars[0].price + "</h6>"
                                                + "<h6 id='desc-" + response.cars[0].id + "'>Description: " + response.cars[0].description + "</h6>"
                                            + "</div>"
                                            + "<center><button class='button-item' id='btn-" + response.cars[0].id + "'>❤️️</button></center>" +"<br>"
                                            + "<form method='POST' action=\"{% url 'rent_details' %}\">"
                                                + '{% csrf_token %}'
                                                + "<input name='carName' type='hidden' value='" + response.cars[0].carName + "'>"
                                                + "<input name='owner' type='hidden' value='" + response.cars[0].owner + "'>"
                                                + "<input name='city' type='hidden' value='" + response.cars[0].city + "'>"
                                                + "<input name='year' type='hidden' value='" + response.cars[0].year + "'>"
                                                + "<input name='price' type='hidden' value='" + response.cars[0].price + "'>"
                                                + "<input name='description' type='hidden' value='" + response.cars[0].description + "'>"
                                            + "<div class='text-center mb-5'>"
                                                + "<input class='submit_button' type='Submit' name='search' value='Rent'>"
                                            + "</div>"
                                            + "</form>"
                                        + '</div>';
                for(var i = 1;i < response.cars.length;i++){
                    carouselIndicatorResult += '<li data-target="#resultCarousel" data-slide-to="' + (i+1) + '" class="active"></li>';
                    carouselInnerResult += "<div class='carousel-item' style='height: 100%;''>" 
                                            + "<div class='p-5 mx-4'>"
                                                + "<h6 id='carName-" + response.cars[i].id + "'>Car name: " + response.cars[i].carName + "</h6>"
                                                + "<h6 id='owner-" + response.cars[i].id + "'>Owner: " + response.cars[i].owner + "</h6>"
                                                + "<h6 id='city-" + response.cars[i].id + "'>City: " + response.cars[i].city + "</h6>"
                                                + "<h6 id='year-" + response.cars[i].id + "''>Year: " + response.cars[i].year + "</h6>"
                                                + "<h6 id='price-" + response.cars[i].id + "'>Price (per day): " + response.cars[i].price + "</h6>"
                                                + "<h6 id='desc-" + response.cars[i].id + "'>Description: " + response.cars[i].description + "</h6>"
                                            + "</div>"
                                            + "<center><button class='button-item' id='btn-" + response.cars[i].id + "'>❤️️</button></center>" + "<br>"
                                            + "<form method='POST' action=\"{% url 'rent_details' %}\">"
                                                + '{% csrf_token %}'
                                                + "<input name='carName' type='hidden' value='" + response.cars[i].carName + "'>"
                                                + "<input name='owner' type='hidden' value='" + response.cars[i].owner + "'>"
                                                + "<input name='city' type='hidden' value='" + response.cars[i].city + "'>"
                                                + "<input name='year' type='hidden' value='" + response.cars[i].year + "'>"
                                                + "<input name='price' type='hidden' value='" + response.cars[i].price + "'>"
                                                + "<input name='description' type='hidden' value='" + response.cars[i].description + "'>"
                                            + "<div class='text-center mb-5'>"
                                                + "<input class='submit_button' type='Submit' name='search' value='Rent'>"
                                            + "</div>"
                                            + "</form>"
                                        + "</div>"                        
                }
                $('.carousel-indicators').empty();
                $('.carousel-indicators').append(carouselIndicatorResult);
                $('.carousel-inner').empty();
                $('.carousel-inner').append(carouselInnerResult);
            }
        };

        function notFound(){
            var carouselIndicatorResult = '<li data-target="#resultCarousel" data-slide-to="0" class="active"></li>';
            var carouselInnerResult = '<div class="carousel-item active" style="height: 100%;">'
                                        + '<div class="d-flex align-items-center justify-content-center" style="height: 100%;">'
                                            + '<h3>No car matches the keyword</h3>'
                                        + '</div>'
                                    + '</div>';
            $('.carousel-indicators').empty();
            $('.carousel-indicators').append(carouselIndicatorResult);
            $('.carousel-inner').empty();
            $('.carousel-inner').append(carouselInnerResult);
        };
    </script>
{% endblock %}