{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Reviews</title>
{% endblock %}

{% block content %}
    <div class="row flex-grow-1">
        <div class="col-lg-12 bgstyle" style="padding: 0;">
            <center><h1 class="titleText">Tell us your experience</h1></center>
            <div class="container" style="width: 50%;"> 
                <form id="review-form">
                    {% csrf_token %}
                    <label for="title">Title: </label> <br>
                    {{ form.title }}
                    <label for="car">Car: </label> <br>
                    {{ form.car }}
                    <label for="content">Content: </label> <br>
                    {{ form.content }}
                    <label for="rating">Rating: </label> <br>
                    {{ form.rating }}
                    <label for="startDate">Start Date: </label> <br>
                    {{ form.startDate }}
                    <br>
                    <label for="endDate">End Date: </label> <br>
                    {{ form.endDate }}
                    <br> <br>
                    <div class="form-row">
                        <div class="text-right pr-4" style="margin-left:9%; width: 100%;">
                            <button type="submit" class="about" id="submitBtn" onclick="submitReview()">Submit</button>            
                        </div>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>

    <div class="row flex-grow-1">
        <div class="col-lg-12 bgstyle" style="padding: 0;" id="reviews">
            <center><h1 class="titleText">Reviews</h1></center>
            {% for review in reviewList %}
                <div class="card bg-white text-dark" style="width: 80%; margin-bottom:5%; margin-left:10%; margin-right:5%; margin-top:2.5%; border-radius: 25px;">
                    <div class="card-body">

                        <h6 class="card-title">Username: {{ review.user.username }}</h6>
                        <h6 class="card-title">Title: {{ review.title }}</h6>
                        <h6 class="card-title">Car: {{ review.car }}</h6>
                        <h6 class="card-title">Start Date: {{ review.startDate }}</h6>  
                        <h6 class="card-title">End Date: {{ review.endDate }}</h6>   
                        <p class="card-text">{{ review.content }}</p>
                        <h6 class="card-title">Rating: {{ review.rating }}/5</h6>
                        <h6 class="card-title">{{ review.dateCreated }}</h6>
                        <form id="delete-form">
                            <input style="position: absolute; visibility: hidden;" type="text" name="reviewId" id="reviewId" value="{{ review.id }}">
                            <input style="position: absolute; visibility: hidden;" type="text" name="reviewUser" id="reviewUser" value="{{ review.user }}">
                            <div class="text-right pr-4" style="margin-left:9%"><input class="submit_button" type="Submit" value="Delete" id="deleteBtn" onclick="deleteReview()"></div>  
                        </form>
                    </div>
                </div>
            {% endfor %}
            <br><br>
        </div>
    </div>
{% endblock %}

{% block initialize %}
    <script>

        function submitReview() {
            var form = $('#review-form')
            event.preventDefault()
            $.ajax({
                type: 'POST',
                url: '/submit-review',
                dataType: 'json',
                data: form.serialize(),
                success: function(data) {
                    form.trigger('reset')
                    alert("Review submitted!")
                    document.getElementById('reviews').innerHTML = ""
                    document.getElementById('reviews').innerHTML += "<center><h1 class='titleText'>Reviews</h1></center>"
                    $.each(data.newReviews, function(index, review) {
                        document.getElementById('reviews').innerHTML += "<div class='card bg-white text-dark' style='width: 80%; margin-bottom:5%; margin-left:10%; margin-right:5%; margin-top:2.5%; border-radius: 25px;'>" +
                                "<div class='card-body'>" + 
                                    "<h6 class='card-title'>Username: " + review.user + "</h6>" + 
                                    "<h6 class='card-title'>Title: " + review.title + "</h6>" +
                                    "<h6 class='card-title'>Car: " + review.car + "</h6>" +
                                    "<h6 class='card-title'>Start Date: " + review.startDate + "</h6>" +  
                                    "<h6 class='card-title'>End Date: " + review.endDate + "</h6>" +   
                                    "<p class='card-text'>" + review.content + "</p>" +
                                    "<h6 class='card-title'>Rating: " + review.rating + "/5</h6>" +
                                    "<h6 class='card-title'>" + review.dateCreated + "</h6>" +
                                    "<form id='delete-form'>" +
                                        "<input style='position: absolute; visibility: hidden;' type='text' name='reviewId' id='reviewId' value=" + review.id + ">" +
                                        "<input style='position: absolute; visibility: hidden;' type='text' name='reviewUser' id='reviewUser' value=" + review.user + ">" +
                                        "<div class='text-right pr-4' style='margin-left:9%''><input class='submit_button' type='Submit' value='Delete' id='deleteBtn' onclick='deleteReview()'></div>" +
                                    "</form>" +
                                "</div>" +
                            "</div>"
                    })
                }
            })
        }

        function deleteReview() {
            var form = $('#delete-form')
            event.preventDefault()
            $.ajax({
                type: 'POST',
                url: '/delete-review',
                dataType: 'json',
                data: form.serialize(),
                success: function(data) {
                    alert("Review deleted!")
                    document.getElementById('reviews').innerHTML = ""
                    document.getElementById('reviews').innerHTML += "<center><h1 class='titleText'>Reviews</h1></center>"
                    $.each(data.newReviews, function(index, review) {
                        document.getElementById('reviews').innerHTML += "<div class='card bg-white text-dark' style='width: 80%; margin-bottom:5%; margin-left:10%; margin-right:5%; margin-top:2.5%; border-radius: 25px;'>" +
                                "<div class='card-body'>" + 
                                    "<h6 class='card-title'>Username: " + review.user + "</h6>" + 
                                    "<h6 class='card-title'>Title: " + review.title + "</h6>" +
                                    "<h6 class='card-title'>Car: " + review.car + "</h6>" +
                                    "<h6 class='card-title'>Start Date: " + review.startDate + "</h6>" +  
                                    "<h6 class='card-title'>End Date: " + review.endDate + "</h6>" +   
                                    "<p class='card-text'>" + review.content + "</p>" +
                                    "<h6 class='card-title'>Rating: " + review.rating + "/5</h6>" +
                                    "<h6 class='card-title'>" + review.dateCreated + "</h6>" +
                                    "<form id='delete-form'>" +
                                        "<input style='position: absolute; visibility: hidden;' type='text' name='reviewId' id='reviewId' value=" + review.id + ">" +
                                        "<input style='position: absolute; visibility: hidden;' type='text' name='reviewUser' id='reviewUser' value=" + review.user + ">" +
                                        "<div class='text-right pr-4' style='margin-left:9%''><input class='submit_button' type='Submit' value='Delete' id='deleteBtn' onclick='deleteReview()'></div>" +
                                    "</form>" +
                                "</div>" +
                            "</div>"
                    })
                }
            })
        }

    </script>
{% endblock %}