{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Sign Up</title>
{% endblock %}


{% block content %}

<div class="row flex-grow-1">
    <div class="col-lg-12 bgstyle">
        <br>
        <h1 style="font-family: Raleway; font-size: 60px; text-align: center; color: aliceblue;">Please register your account</h1>
        <br>
        <div class="flex-container2"> 
            <form method="post" enctype="multipart/form-data" style="text-align: center;">
                {% csrf_token %}
                {% for field in form %}
                <p style="text-align: center;">
                {{ field.label_tag }}<br>
                {{ field }}<br>
                {% if field.help_text %}
                <small style="color: black">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
                </p>
                {% endfor %}
                <a href="login" style="margin-left: auto; margin-right: auto;"><button class="button button2" style="background-color: white;" id="signUpBut" >Sign Up</button></a>
            </form>
        </div>
    </div>

</div>
{% endblock %}