{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Transactions</title>
{% endblock %}

{% block content %}
    <div class="row flex-grow-1">
        <div class="col-lg-12 bgstyle" style="padding: 0;">
            <center><h1 class="titleText">Transactions {{ forloop.counter }}</h1>
            {% for i in transactions %}
            <div class="card bg-white text-black" style="width: 80vw; margin-left:2.5%; margin-right:2.5%; margin-top:2.5%; margin-bottom:5%; min-height: 30vh">
                <div class="card-body">
                    <h5 class="card-title" style="text-align:justify; font-size:40px;">Transaction</h5>
                    <div class = line-horizontal></div>
                    <br>
                    <h6 class="card-title" style="text-align:justify; font-size:24px;">Username: {{ i.username}}</h6>
                    <h6 class="card-title" style="text-align:justify; font-size:24px;">Car: {{ i.car}}</h6>
                    <h6 class="card-title" style="text-align:justify; font-size:24px;">Start Date: {{ i.startDate}}</h6>
                    <h6 class="card-title" style="text-align:justify; font-size:24px;">End Date: {{ i.endDate}}</h6>
                    <br>
                    <p class="card-text text-muted" style="text-align:justify;">Marked at: {{i.date}}</p>
                </div>
            </div>
            {% endfor %}
            </center>
        </div>
    </div>
{% endblock %}